<!DOCTYPE html>
<html>
    <head>
        <title>{{{title}}}</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Kshitiz Tiwari. The site uses Mapbox API to convert the location
                into geo coordinates. The geo coordinates are then sent to Darksky API to fetch weather
            </p>
            <img class="potrait"src = '/img/me.jpg'>
        </div>
        {{>footer}}
    </body>
</html>